<section class="login-container">
    <!-- First login view, this project is to show my UI/UX Skill and share code with my homies  -->
    <!-- with no css frameworks or libs -->
    <!-- Designed and maded by Kidbel (Victor Moreno) - thislayoutbuilder -->
    <div class="main-wrapper">
        <div class="left-wrapper">
            <div class="login-card">
                <img src="assets/img/digi-logo.png" class="digi-logo">
                <h1>Login</h1>
                <div class="input-group-wrapper">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input name="username">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input name="password">
                    </div>
                </div>
                <div class="stay-connected">
                    <input type="checkbox">
                    <span>Keep Me Logged In</span>
                </div>
                <div class="auth-login">
                    <div class="auth-square">
                        <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
                    </div>
                    <div class="auth-square">
                        <fa-icon [icon]="faGoogle" size="lg"></fa-icon>
                    </div>
                    <div class="auth-square">
                        <fa-icon [icon]="faApple" size="lg"></fa-icon>
                    </div>
                </div>
                <div><button class="submit-btn">Access Digimon World</button></div>
                <a class="login-opt">Having Troubles to log in?</a>
                <a class="login-opt">Create Account</a>
            </div>
        </div>
        <div class="right-wrapper"></div>
    </div>
</section>